@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   background-color: #99a3d5;
   color: #edf0f1;
   font-family: "Montserrat", sans-serif;
} */

.nav__links li,
.nav__links a,
.btn-acerca-de {
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 16px;
   color: #edf0f1;
   text-decoration: none;
}

.nav-bar-layout {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 10%;
}

.logo {
   cursor: pointer;
   width: 75px;
   position: absolute;
   top: 15px;
}

.nav__links li {
   display: inline-block;
   padding: 0px 20px;
}

.nav__links li a {
   transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
   color: #0088a9;
}

.btn-acerca-de {
   padding: 9px 25px;
   background-color: rgba(0, 136, 160, 1);
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease 0s;
}

.btn-acerca-de:hover {
   background-color: rgba(0, 136, 160, 1);
}
